@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Reset */

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img{
  max-width: 100%;
  display: block;
}

/* Base Styles */

body{
  font-family: "Bai Jamjuree", sans-serif;
}

/* Hero Styles */

.hero-heading{
  font-size: 2.875rem;
  text-align: center;
}



/* Layout */

header{
  margin: 0 auto;
  padding: 5rem;
  background: url("images/bg-header-desktop.png");
  background-repeat: no-repeat;
  max-width: 1440px;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo{
  margin: 0 auto;
}

.hero-heading{
  font-size: 2.875rem;
}

.hero{
  max-width: 730px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
  margin-top: 4.5rem;
}

.hero-text{
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #9EABB2;
  margin-top: 1.5rem;
}


.btn-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin-top: 3.5rem;
}

.btn{
  background-color:  #26BBA4;
  color: white;
  padding: 1rem  1.5rem;
  border-radius: 28px;
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
  box-shadow: 0 -3px 0 0 rgba(0, 0, 0, 0.15) inset;
}

.btn-accent{
  background-color: #6174FF;
}


.snippets{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.snippets-heading{
  margin: 0 auto;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.snippets-text{
  margin: 0 auto;
  text-align: center;
  max-width: 730px;
  font-size: 1.25rem;
  margin-bottom: 3.5rem;
  color: #4C545C;
  font-weight: 400;
  line-height: 150%;
  padding-inline: .5rem;

}

.two-column{
  display: flex;
  flex-direction: row;
  gap: 4.5rem;
  max-width: 80%;
}

.two-column-text-container{
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.two-column-text{
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  gap: 1.5rem;
}

.two-column-heading{
  font-size: 1.5rem;
  line-height: 150%;
  font-weight: 600;
}

.two-column-info-text{
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.15px;
  font-size: 1rem;
  color: #9EABB2;



}

.access{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.access-heading{
  font-size: 2.25rem;
  margin-bottom: 1.25rem;
  text-align: center;
}

.access-text{
  max-width: 730px;
  text-align: center;
  font-size: 1.25rem;
  color: #9EABB2;
  font-weight: 500;
  margin-bottom: 5.5rem;
}
.supercharge{
  max-width: 1114px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  
}

.supercharge-three-column{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2.5rem;
  margin: 0 auto;
  margin-top: 2.5rem;
  margin-bottom: 10rem;

}

.blacklists,.plain-text,.sneak-preview{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  max-width: 350px;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #9EABB2;
  align-items: top;
}

.three-column-heading{
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -0.4px;
  color: black;

}

.supercharge-heading{
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 1.25rem;
}

.supercharge-text{
  color:  #9EABB2;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}

.companies{
  max-width: 1112px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.companies-container{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 6rem;
  margin: 0 auto;
  align-items: center;
}
/* Responsive / Media Queries */

@media (max-width: 950px){
  .two-column{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .two-column-text-container{
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }

  .two-column-text{
    gap: 4rem;
  }

  .supercharge-three-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5.5rem;
    margin-bottom: 2.5rem;
  }

  .companies-container{
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: none;
    gap: 5rem;
  }

}

.software{
  display: flex;
  flex-direction: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  max-width: 730px;
  text-align: center;
  margin-top: 8.5rem;
  margin-bottom: 8.5rem;
}

.software-heading{
  text-align: center;
  font-size: 2.125rem;
  line-height: 125%;
  letter-spacing: -0.6px;
  font-weight: 600;
  margin-bottom: 1.25rem;
}

.software-text{
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 150%;
}

.footer{
  display: flex;
  padding: 2.5rem 1.5rem;
  background-color: #F5F7F7;
}

.footer{
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1110px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer-links-nav{
  width: 430px;

}

.footer-logo{
  max-width: 55px;
}

.footer-links{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 2.5rem;
  width: 430px;
  flex-wrap: wrap;
  font-size: 1.25rem;
  color: #4C545C;
  font-weight: 400;
  list-style: none;
  text-align: center;
  
}

.footer-link a{
  text-decoration: none;
}

.social-links{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  justify-content: center;
  align-items: center;
  color: #4C545C;
}

@media (max-width: 650px){
  .footer-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 2.5rem;
  }

  .footer-links-nav{
    max-width: 375px
  }

  .footer-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    padding: 0;
    margin: 0 auto;
    max-width: 375px;
  }
}

@media (max-width: 630px){
  .hero-heading{
    font-size: 2.5rem;
  }
  .btn-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

 
}


@media (max-width: 560px){
  .hero-heading{
    font-size: 2rem;
  }

  .footer{
    padding: .75rem .75rem;
  }

  .hero{
    margin-top: 1rem;
  }

  header{
    padding: 0;
    margin-top: 4rem;
  }

}
