@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Reset */

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img{
  max-width: 100%;
  display: block;
}

/* Base Styles */

body{
  font-family: "Bai Jamjuree", sans-serif;
}

/* Hero Styles */

.hero-heading{
  font-size: 2.875rem;
  text-align: center;
}



/* Layout */

header{
  margin: 0 auto;
  padding: 5rem;
  background: url("images/bg-header-desktop.png");
  background-repeat: no-repeat;
  max-width: 1440px;
  display: block;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo{
  margin: 0 auto;
}

.hero-heading{
  font-size: 2.875rem;
}

.hero{
  max-width: 730px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
  margin-top: 4.5rem;
}

.hero-text{
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #9EABB2;
  margin-top: 1.5rem;
}


.btn-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin-top: 3.5rem;
}

.btn{
  background-color:  #26BBA4;
  color: white;
  padding: 1rem  1.5rem;
  border-radius: 28px;
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
  box-shadow: 0 -3px 0 0 rgba(0, 0, 0, 0.15) inset;
}

.btn-accent{
  background-color: #6174FF;
}


.snippets{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.snippets-heading{
  margin: 0 auto;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.snippets-text{
  margin: 0 auto;
  text-align: center;
  max-width: 730px;
  font-size: 1.25rem;
  margin-bottom: 3.5rem;
}

.two-column{
  display: flex;
  flex-direction: row;
  gap: 4.5rem;
  max-width: 80%;
}

.two-column-text-container{
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.two-column-text{
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  gap: 1.5rem;
}

.two-column-heading{
  font-size: 1.5rem;
  line-height: 150%;
  font-weight: 600;
}

.two-column-info-text{
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.15px;
  font-size: 1rem;
  color: #9EABB2;



}

.access{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.access-heading{
  font-size: 2.25rem;
  margin-bottom: 1.25rem;
}

.access-text{
  max-width: 730px;
  text-align: center;
  font-size: 1.25rem;
  color: #9EABB2;
  font-weight: 500;
  margin-bottom: 5.5rem;
}
.supercharge{
  max-width: 1114px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  
}

.supercharge-three-column{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2.5rem;
  margin: 0 auto;
}

.blacklists,.plain-text,.sneak-preview{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  max-width: 350px;
  text-align: center;
}
/* Responsive / Media Queries */

@media (max-width: 950px){
  .two-column{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .two-column-text-container{
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }

  .two-column-text{
    gap: 4rem;
  }
}

@media (max-width: 630px){
  .hero-heading{
    font-size: 2.5rem;
  }
  .btn-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

 
}

@media (max-width: 560px){
  .hero-heading{
    font-size: 2rem;
  }

  .hero{
    border: 2px solid black;
    margin-top: 1rem;
  }

  header{
    padding: 0;
    margin-top: 4rem;
  }

}
